@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: theme('colors.primary');
    --color-secondary: theme('colors.secondary');
    --color-focus: theme('colors.focus');
    --color-background: theme('colors.background');
    --color-surface: theme('colors.surface');
  }
}

body {
  @apply font-rubik bg-background text-white;
  font-family: 'Rubik', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
